<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <% if(errors) { %>
            <ul>
            <% for (var i = 0; i < errors.length; i++) { %>
                <li> <%= errors[i].msg %></li>
            <% } %>
            </ul>
        <% } %>
        <form method="POST"  action="/user/signup">
            <label>Username</label>
            <input type="text" name="username">
            <label>Email</label>
            <input type="text" name="email">
            <label>Password</label>
            <input type="password" name="password1">
            <label for="">Confirm Password</label>
            <input type="password" name="password2">
            <input type="submit" value="Sign Up">
        </form>
    </body>
</html>